.center{
    text-align: center
}

#banner{
    background-color: #f0ede4;
    position: relative;
    min-width: 1024px;
    min-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 100%;
}

.img_person{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_product{
    width: 100%;
    display: block;
    height: 100%;
}

#parallax {
    width: 100%;
    height: 400px;
    background: url("../img/parallax.png");
}

.alt {
    background-color: #f0ede4;
}

.code{
    font-size: 12px;
}

.btn-primary{
    color: white;
    background-color: #a47e53;
    border-color: #a47e53;
}

.btn-primary:hover{
    color: white;
    background-color: #4f3d28 !important;  
    border-color: #4f3d28; 
}

.btn-primary, .btn-primary:visited {
    background-color: #a47e53 !important;
    border-color: #a47e53;
    box-shadow:none;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    border-color: #a47e53;
}

textarea {
  width: 300px;
  height: 150px;
}

#productarea {
    display: none;
}

#formbutton {
    display: none;
}

#scrollfire {
    position: relative;
    top: 150px;
    width: 80%;
    transition-delay: 0.5s;
    transition-duration: 1s;
}